## Ficheiros gerados pelo build
bin/
obj/
out/

## Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio Code
.vscode/

## JetBrains Rider
.idea/
*.sln.iml

## Ficheiros de build e compilação
*.dll
*.exe
*.pdb
*.mdb
*.cache
*.ilk
*.meta
*.manifest
*.exp
*.lib
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log

## NuGet
*.nupkg
*.snupkg
packages/
!**/packages/repositories.config
*.nuget.props
*.nuget.targets
project.lock.json
project.fragment.lock.json
artifacts/

## Ficheiros de sistema operativo
## Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

## macOS
.DS_Store
.AppleDouble
.LSOverride

## Linux
*~

## Publicação
**/publish/
**/PublishProfiles/

## Azure
ServiceFabricBackup/